* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

body {
  background-color: black;
}

img {
  display: block;
  width: 100%;
}
a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0 5px;
}
a:hover {
  color: red;
  transition: 1s ease-in-out;
}
li {
  list-style: none;
}

/*Nav bar*/
.navbar-container {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 30px;
  border-bottom: 1px solid #ffffff69;
  background: #ffffff2e;
}
.navbar-content {
  display: flex;
}

.logo {
  width: 70px;
  height: auto;
  position: relative;
  z-index: 2;
}
/*end of navbar*/

/*Background Menu*/
video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Hero Secrtion*/
.hero-section {
  display: flex;
  justify-content: space-around;
  padding-top: 2em;
  position: relative;
}
.jupiter-planet {
  position: relative;
  z-index: 2;
  width: 33%;
}
.hero-text {
  width: 20em;
}
.title {
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 3rem;
  align-self: center;
  font-weight: bold;
}
.description {
  font-size: 1rem;
  color: #fff;
  position: relative;
}

.read-btn {
  box-shadow: 0px 1px 0px 0px #1c1b18;
  background-color: red;
  border-radius: 15px;
  border: 2px solid #333029;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 16px;
  text-decoration: none;
  position: relative;
  margin-top: 1.5em;
  transition: 1s ease-in;
}
.read-btn:hover {
  background: linear-gradient(to bottom, #a50909c0 5%, #eae0c2fa 100%);
  background-color: #ccc2a6;
}
.read-btn:active {
  position: relative;
  top: 1px;
}
.dropbtn {
  background-color: #aa7004cb;
  color: white;
  padding: 15px;
  font-size: 5px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  z-index: 5;
  box-shadow: 2px 1px 1px black;
}

.dropdown {
  position: absolute;
  display: inline-block;
  right: 14em;
  top: 5em;
}
.dropdown1 {
  position: absolute;
  display: inline-block;
  right: 22em;
  top: 13em;
}
.dropdown2 {
  position: absolute;
  display: inline-block;
  right: 17em;
  bottom: 6em;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #fff;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 4;
  border-radius: 5px;
  text-align: center;
  z-index: 6;
}

.dropdown-content p {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: bold;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown1:hover .dropdown-content {
  display: block;
}
.dropdown2:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #fff;
}

.dropdown1:hover .dropbtn {
  background-color: #fff;
}
.dropdown2:hover .dropbtn {
  background-color: #fff;
}

.mobile-menu-container {
  display: none;
}
.mobile-menu {
  display: none;
}
.nav-bar-mobile {
  display: none;
}
/*End of Hero Section*/

/*Media Queries*/

@media only screen and (max-width: 990px) {
  .hero-section {
    justify-content: center;
  }
  .dropdown {
    right: 16em;
  }
  .dropdown1 {
    right: 11em;
  }
}
@media only screen and (max-width: 777px) {
  .dropdown {
    right: 10em;
  }
  .dropdown2 {
    right: 12em;
  }
}

@media only screen and (max-width: 573px) {
  .hero-section {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 0;
  }

  .jupiter-planet {
    width: 44%;
  }
  .title {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5rem;
    font-weight: bold;
    z-index: 4;
  }

  .hero-text {
    width: 22em;
    text-align: center;
  }
  .dropdown,
  .dropdown1,
  .dropdown2 {
    display: none;
  }
  .navbar-container {
    display: none;
  }
  .brand-logo {
    width: 50px;
  }
  .menuBtn img {
    width: 35px;

    position: relative;
    z-index: 2;
  }
  .brand-log {
    width: 20px;
  }

  .menuBtn,
  .exit {
    cursor: pointer;
  }
  .nav-bar-mobile {
    display: flex;
    justify-content: space-between;
    padding: 40px 60px;
    color: #fff;
    width: 100%;
    position: relative;
    z-index: 2;
    align-items: center;
  }
  .mobile-menu {
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #fff;
    height: 100vh;
    width: 100%;
    position: fixed;
    align-items: center;
    top: -100%;
    background: #000;
    z-index: 10;
  }
  .exit {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 8;
  }
  .nav-link {
    color: var(--color-white);
    font-size: 2rem;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
  }
  .nav-list li {
    margin-bottom: 10px;
  }
  .nav-link:hover {
    color: var(--color-warning);
    transition: all 0.2s ease-in-out;
  }
  .information {
    padding-bottom: 2em;
  }
  .info-title {
    color: var(--color-warning);
    font-size: 2em;
  }
  .info-desc {
    font-size: 1.7em;
    color: #ffffff8f;
  }
  .animate-li {
    opacity: 0;
    margin-top: -20px;
  }
  .description {
    font-size: 1rem;
    margin: 0.3em 3em;
  }
}
