/* Document default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
}

/* Video */
video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

/* navbar */
.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0 20px;
  z-index: 2;
  border-bottom: 1px solid #ffffff69;
  background-color: #ffffff40;
}

.logo {
  width: 150px;
  position: relative;
}

.navbar-content {
  display: flex;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  margin: 0 5px;
}

/* Links */
a:hover {
  color: goldenrod;
  transition: 1s ease-in-out;
}
/* hero section */
.hero-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding-top: 3em;
}

.jupiter {
  position: relative;
  width: 30%;
}

.text {
  max-width: 20em;
  background-color: #ffffff40;
}

.info-jupiter {
  position: relative;
  font-size: 50px;
  color: #fff;
  font-weight: bold;
  font-size: 3em;
  max-width: 2;
}

.jupiter-text {
  position: relative;
  color: #fff;
  /* text-align: center; */
}

.read-btn {
  position: relative;
  margin-top: 1em;
  border-radius: 5px;
  padding: 8px;
  font-size: 1em;
}

.read-btn:hover {
  transition: 1s ease-in-out;
  background-color: grey;
  color: white;
  cursor: pointer;
}

/* Dropdown Button */
.dropbtn {
  background-color: #aa7004cb;
  box-shadow: 2px 1px 2px black;
  border-radius: 50%;
  color: white;
  padding: 14px;
  font-size: 15px;
  border: none;
}

.dropdown {
  position: relative;
  display: block;
  float: right;
  right: 35%;
  z-index: 3;
  margin: 55px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(117, 108, 65, 0.651);
  z-index: 3;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  min-width: 300px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #aa7004cb;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown */
.dropdown:hover .dropbtn {
  background-color: #aa7004cb;
}

/* Dropdown Button */
.dropbtn2 {
  background-color: #aa7004cb;
  box-shadow: 2px 1px 2px black;
  border-radius: 50%;
  color: white;
  padding: 14px;
  font-size: 15px;
  border: none;
}

.dropdown2 {
  position: relative;
  display: block;
  float: right;
  right: 28%;
  z-index: 3;
  margin: 85px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(117, 108, 65, 0.651);
  z-index: 3;
}

/* Links inside the dropdown */
.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  min-width: 300px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content2 a:hover {
  background-color: #aa7004cb;
}

/* Show the dropdown menu on hover */
.dropdown2:hover .dropdown-content2 {
  display: block;
}

/* Change the background color of the dropdown */
.dropdown2:hover .dropbtn2 {
  background-color: #aa7004cb;
}
